.action-icon {
  color: #98a6ad !important;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 3px;
}

.company-badge {
  white-space: normal;
  max-width: 300px;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}
