<!-- <a class="header__navigation-link" [class.active]="currentUrl === '/news'" [translate]="'page.more.NEWS'" (click)="goToNews()" routerLinkActive="active">
  Новости -->
  <!--sup class="header__navigation-link--notification ml-1">+1</sup-->
<!-- </a> -->
<!-- <a class="header__navigation-link" [class.active]="currentUrl === '/nearest-bank'" [translate]="'page.more.BANK_NEAR'" [routerLink]="['/nearest-bank']" routerLinkActive="active">
  Банк рядом
</a> -->
<!-- <a class="header__navigation-link mr-4" [class.active]="currentUrl === '/contacts'" [translate]="'page.more.CONTACTS'" [routerLink]="['/contacts']" routerLinkActive="active">
  Контакты
</a> -->
<a (click)="logout()" class="header__navigation-link" [translate]="'home_exit'" routerLinkActive="active" style="color: #4582ec;">Выход<i class="ni ni-curved-next ml-2"></i>
  <!-- <img src="/assets/images/svg/exit.svg" class="ml-2 align-middle" alt="exit"> -->
</a>
