<div class="main_div">
  <div class="middle box">
<!--    <div class="container content" style="margin-bottom: 0px;">-->
<!--      <div class="middle_content">-->
<!--        <div class="content_block own_content_block">-->
<!--          Уважаемые посетители сайта, обращаем Ваше внимание, что сайт находится в стадии разработки. Приносим свои извинения за временные неудобства, связанные с постоянными работами над улучшением функционала.-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="container content" style="margin-top: 25px;">
      <div class="middle_content">
        <div class="content_block">
          <div class="row content_block_row justify-content-center">
            <div class="col-12 col-lg-7 col1 mb-3 py-3 px-3 px-sm-4 px-md-5">
              <div class="top_logo" style="margin-top: 20px;">
                <img class="logo" src="../../assets/img/login-logo.png"/>
                <a class="ml-3" href="https://qaj.kz" rel="nofollow" target="_blank">
                  <img class="logo" style="width: 85px;" src="../../assets/img/qaj_logo.png"/>
                </a>
              </div>
              <div class="header_text">
                <div class="font-weight-bold mb-3">Добро пожаловать в Личный кабинет АО «НК «КазАвтоЖол» для юридических лиц и индивидуальных предпринимателей.</div>
                <div class="mt-3 mb-3">
                  Если вы не пользовались ранее Личным  кабинетом,  то, пожалуйста, нажмите <b>«Зарегистрироваться»</b> и следуйте инструкциям системы. Использование функций Личного кабинета возможно только при наличии ЭЦП, подтверждающего Вашу причастность к юридическому лицу/ИП.
                </div>
                <div class="mt-3 mb-3">
                  Подробное описание процедуры регистарции и других функций системы находится в <b><a href="https://law.kaztoll.kz/documentation/" rel="nofollow" target="_blank">Руководстве пользователя</a></b>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-11 col-md-9 col-lg-5 pl-lg-0 pr-lg-4 pb-sm-3 pt-lg-4">
              <div class="col2 mainpage_login_form_block mb-3 py-3 px-4 mt-2">
                <h1 class="p-b content_title">Личный кабинет</h1>
                <div class="content_data_form">
                  <div class="row">
                    <div class="col-12">
                      <form name="form_auth" method="post" target="_top" action="https://lku.gesbt.ru/?login=yes">
                        <div [ngClass]="{ unvisible_tab: regItem }">
                          <div class="d-flex flex-column w-100 align-items-center justify-content-center">
                            <button class="btn w-100 btn-success d-block" [disabled]="loading" (click)="selectNCAStore()" type="button"><i class="ni ni-credit-card mr-2"></i> Вход по ЭЦП</button>
                            <button class="btn w-100 btn-success d-block mt-3" [disabled]="loading" (click)="changeReg()" type="button"><i class="ni ni-key-25 mr-2"></i>Зарегистрироваться</button>
                          </div>
                        </div>
                        <div [ngClass]="{ unvisible_tab: !regItem }">
                          <form name="registerForm" role="form" #registerForm="ngForm">
<!--                            <div class="custom-control custom-radio mt-3 mb-2">-->
<!--                              <input [(ngModel)]="companyType" name="custom-radio-2" class="custom-control-input" value="ИП" id="customRadio5" type="radio" (ngModelChange)="changeOwnerType($event)" required>-->
<!--                              <label class="custom-control-label" for="customRadio5">Индивидуальный предприниматель</label>-->
<!--                            </div>-->
<!--                            <div class="custom-control custom-radio">-->
<!--                              <input [(ngModel)]="companyType" name="custom-radio-2" class="custom-control-input" value="ТОО" id="customRadio6"  type="radio" (ngModelChange)="changeOwnerType($event)" required>-->
<!--                              <label class="custom-control-label" for="customRadio6">Товарищество с ограниченной ответственностью</label>-->
<!--                            </div>-->
<!--                            <div class="custom-control custom-radio mt-2 mb-3">-->
<!--                              <input [(ngModel)]="companyType" name="custom-radio-2" class="custom-control-input" value="АО" id="customRadio7"  type="radio" (ngModelChange)="changeOwnerType($event)" required>-->
<!--                              <label class="custom-control-label" for="customRadio7">Акционерное общество</label>-->
<!--                            </div>-->
                            <div class="form-group row" style="margin-bottom: 5px;">
                              <label class="col-4 col-form-label text-right" style="font-size: 14px; font-weight: bold;">Тип Юр.Лица:</label>
                              <div class="col-8">
                                <ng-select [items]="companyTypes"
                                           bindLabel="description"
                                           bindValue="code"
                                           placeholder="Выберите..."
                                           [ngModelOptions]="{standalone: true}"
                                           (ngModelChange)="changeOwnerType($event)"
                                           [(ngModel)]="companyType" >
                                </ng-select>
                              </div>
                            </div>
                            <div class="input-group input-group-alternative mt-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
                              </div>
                              <input [(ngModel)]="idn" class="form-control" placeholder="ИИН руководителя/лица по доверенности" [textMask]="{mask: xinMask}" required name="idn">
                            </div>
                            <div class="input-group input-group-alternative mt-3" *ngIf="companyType !== 'ИП'">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
                              </div>
                              <input [(ngModel)]="bin" class="form-control" placeholder="БИН Компании" [textMask]="{mask: xinMask}" required name="bin">
                            </div>
                            <div class="input-group input-group-alternative mt-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                              </div>
                              <input [(ngModel)]="email" class="form-control" placeholder="Электронная почта" type="email" required name="email">
                            </div>

                            <div *ngIf="companyType === 'ИП'">
                              <div class="custom-control custom-radio mt-3 mb-2" style="padding-left: 1.5rem;">
                                <input [(ngModel)]="companyNameType" name="custom-radio-3" class="custom-control-input" value="FIO" id="customRadio8" type="radio" (ngModelChange)="changeCompanyNameType($event)" required>
                                <label class="custom-control-label" for="customRadio8">Наименование ИП на основе ФИО</label>
                              </div>
                              <div class="custom-control custom-radio" style="padding-left: 1.5rem;">
                                <input [(ngModel)]="companyNameType" name="custom-radio-3" class="custom-control-input" value="OWN_NAME" id="customRadio9" type="radio" (ngModelChange)="changeCompanyNameType($event)" required>
                                <label class="custom-control-label" for="customRadio9">Другое наименование</label>
                              </div>
                            </div>
                            <div class="input-group input-group-alternative mt-3" *ngIf="companyType === 'ИП' && companyNameType === 'OWN_NAME'">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                              </div>
                              <input [(ngModel)]="companyName" class="form-control" placeholder="Наименование ИП" type="text" required name="companyName">
                            </div>
                          </form>
                          <small class="form-text text-warning" style="font-weight: bold; margin-top: 8px;">
                            {{'Данные ЭЦП и указанного ИИН/БИН-а должны совпадать'}}
                          </small>
                          <div class="form-group mt-3 row">
                            <div class="col-md-6">
                              <button (click)="changeReg()"  class="btn btn-1 btn-default d-block">Назад</button>
                            </div>
                            <div class="col-md-6">
                              <button class="btn btn-1 btn-success d-block float-right"
                                      (click)="selectNCAStoreReg()" [disabled]="(registerForm && registerForm.form.invalid) || loading">Зарегистрироваться</button>
                            </div>
                          </div>
                        </div>
                        <!--<div class="form-group row justify-content-between">-->
                          <!--<div class="col-auto grayscale forgot_password_url m-b">-->
                            <!--<a href="https://lku.gesbt.ru/?forgot_password=yes" rel="nofollow"><i class="fas fa-key"></i> Забыли свой пароль?</a>-->
                          <!--</div>-->
                          <!--<div class="col-auto register_url">-->
                            <!--<a href="https://lku.gesbt.ru/user/registration.php" rel="nofollow"><i class="fas fa-user-plus"></i>Зарегистрироваться</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      </form>
                    </div>
                  </div>
<!--                  <div class="row">-->
<!--                    <div class="col error_info">-->
<!--                      В связи с праздничными выходными регистрация и заключение договоров будет доступно 5 Января-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="row">
                    <div class="col help_info">
                      При возникновении технических проблем или других вопросов обратитесь в Контакт-Центр по номеру <b>1403</b> или оставьте обращение в Открытой линии на сайте
                      <b><a href="https://qaj.kz" rel="nofollow" target="_blank">QAJ.KZ</a></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="footer">-->
    <div class="middle_content_functions footer2">
      <div class="container">
        <div class="block_functions">
          <div class="content_block">
            <div class="row content_block_row">
              <h2 class="col-12 functions_title">Функциональные возможности</h2>
            </div>
            <div class="row justify-content-around content_block_row p-t-md">
              <div class="col-6 col-sm-3 col-lg-2 m-b-lg functions_item_col">
                <div class="functions_icon">
                  <fa-icon icon="angle-down"></fa-icon>
                </div>
                <div class="functions_descript">Подписание/расторжение договора при помощи электронно-цифровой подписи</div>
              </div>
              <div class="col-6 col-sm-3 col-lg-2 m-b-lg functions_item_col">
                <div class="functions_icon">
                  <fa-icon icon="angle-down"></fa-icon>
                </div>
                <div class="functions_descript">Просмотр информации по вашему лицевому счету</div>
              </div>
              <div class="col-6 col-sm-3 col-lg-2 m-b-lg functions_item_col">
                <div class="functions_icon">
                  <fa-icon icon="angle-down"></fa-icon>
                </div>
                <div class="functions_descript">Самостоятельное управление транспортными средствами: добавление/удаление</div>
              </div>
              <div class="col-6 col-sm-3 col-lg-2 m-b-lg functions_item_col">
                <div class="functions_icon">
                  <fa-icon icon="angle-down"></fa-icon>
                </div>
                <div class="functions_descript">Детализация проездов каждого ТС (в разработке)»</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row content_block_row">
          <h4 class="col-12 contract_title text-warning">Все действия в Личном кабинете подтверждаются ЭЦП Вашего юридического лица/ИП.</h4>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="footer">-->
    <!--<div class="container">-->
      <!--<div class="footer_content row justify-content-between">-->
        <!--<div class="cols col1 col-6 col-lg-2 order-2 order-sm-1">-->
          <!--<div class="row">-->
            <!--<div class="col-12 col-sm-10 col-md-8 col-lg-12">-->
              <!--<a><img class="img-fluid" src="../../assets/img/login-logo.png"></a>-->
              <!--<a href="https://qaj.kz/" rel="nofollow">-->
                <!--<img class="img-fluid" src="../../assets/img/qaj_logo.png"-->
                     <!--title='Официальный сайт "АО НК "КазАвтоЖол"' style="max-width: 87%; margin-top: 20px;">-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="cols col2 col-12 col-md-6 col-lg-auto order-3 order-sm-2 contacts">-->
          <!--<div class="item">-->
            <!--<div class="label">Телефон</div><a class="value" href="tel:+73462777777"><b>1403</b></a>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="label">E-mail</div><a class="value" href="mailto:gesbt@energosales.ru">gesbt@energosales.ru</a>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="label">Факс:</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="value">+7 (3462) <b>93-57-05</b></div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="cols col4 col-12 col-md-6 col-lg-3 col-xl-4 order-4 text-center">-->
          <!--<div class="social_title">Мы в социальных сетях</div>-->
          <!--<div class="social">-->
            <!--<a class="item vk" href="https://vk.com/gesbt.tyumen" title="VK «Газпром энергосбыт Тюмень»" target="_blank" rel="nofollow">-->
              <!--&lt;!&ndash;<fa-icon icon="vk"></fa-icon>&ndash;&gt;-->
            <!--</a>-->
            <!--<a class="item fb" href="https://www.facebook.com/gesbt.tyumen/" title="Facebook «Газпром энергосбыт Тюмень»" target="_blank" rel="nofollow">-->
              <!--&lt;!&ndash;<fa-icon icon="facebook-square"></fa-icon>&ndash;&gt;-->
            <!--</a>-->
            <!--<a class="item inst" href="https://www.instagram.com/gesbt.tyumen/" title="Instagram «Газпром энергосбыт Тюмень»" target="_blank" rel="nofollow">-->
              <!--&lt;!&ndash;<fa-icon icon="instagram"></fa-icon>&ndash;&gt;-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="copyright">&copy; АО "Национальная компания "ҚазАвтоЖол".</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="to_top" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Перемотка наверх" style="display: none;"><i class="fad fa-arrow-to-top"></i></div>-->
</div>
