<div id="not_found_page">
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
				<h2 [translate]="'founder_page_not_found'">Увы, страница не найдена!</h2>
			</div>
			<div *ngIf="roleUser === 'USER'">
				<button (click)="goToUser()" class="btn btn-1 btn-success" type="button" [translate]="'founder_return_personal_cabinet'">Вернуться в личный кабинет</button>
			</div>
			<div *ngIf="roleUser === 'ADMIN'">
				<button (click)="goToAdmin()" class="btn btn-1 btn-success" type="button" [translate]="'founder_return_panel_operator'">Вернуться в панель оператора</button>
			</div>
		</div>
	</div>
</div>


