<div class="flex-grow-1 ml-5">
  <!-- <button (click)="getItems()">Получить список документов</button> -->
  <table>
    <tbody>
    <tr><strong [translate]="'legal_account_personal_accounts'">Лицевые счета</strong></tr>
    </tbody>
  </table>
  <div class="card legal-accounts">
    <div class="card-body position-relative">
      <div *ngIf="loading">
        <div class="load"></div>
      </div>
      <div *ngIf="(!legalAccounts || legalAccounts.length < 1) && !loading">
        <div [innerHTML]="'legal_account_personal_account_not_found' | translate">Лицевых счетов не найдено (<b>Нужно заключить договор!</b>)</div>
      </div>
      <table class="table table-sm table-hover" *ngIf="legalAccounts && legalAccounts.length > 0 && !loading">
        <thead>
        <tr>
          <th><div [translate]="'legal_account_account_number'">Номер счета</div></th>
          <th><div [translate]="'legal_account_iin_bin_founder'">ИИН/БИН владельца</div></th>
          <th><div [translate]="'legal_account_name_fio'">Наименование/ФИО</div></th>
          <th><div [translate]="'legal_account_data_start_register'">Дата регистрации счета</div></th>
          <th><div [translate]="'legal_account_number_contract'">Номер договора</div></th>
          <th><div [translate]="'legal_account_balance'">Баланс</div></th>
          <th class="min-width-230"></th>
        </tr>
        </thead>
        <tbody>
        <tr
                *ngFor="let legalAccount of legalAccounts;">
          <td>{{legalAccount.accountNumber}}</td>
          <td>
            <div *ngIf="legalAccount.owner">
              {{legalAccount.owner.xin}}
            </div>
          </td>
          <td>
            <div *ngIf="legalAccount.owner && legalAccount.owner.ownerType === 'COMPANY'">
              {{legalAccount.owner.companyName}}
            </div>
            <div *ngIf="legalAccount.owner && legalAccount.owner.ownerType === 'PERSON'">
              {{legalAccount.owner.lastName}} {{legalAccount.owner.firstName}} {{legalAccount.owner.middleName}}
            </div>
          </td>
          <td>{{legalAccount.registrationDate | date:'dd.MM.yyyy'}}</td>
          <td>{{legalAccount.contractNumber}}</td>
          <td>{{legalAccount.balance}}</td>
          <td>
            <div class="text-right">
              <button type="button"
                      class="btn btn-sm btn-warning"
                      (click)="setMain(legalAccount)">
                <span [translate]="'legal_account_choose_account'">Выбрать Лицевой счет</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
