.badge-own1 {
  color: #fff !important;
  background-color: #fd7e14 !important;
  font-size: 95% !important;
}

.badge-own2 {
  color: #fff !important;
  background-color: #126cb3 !important;
  font-size: 95% !important;
}

.badge-own3 {
  color: #fff !important;
  background-color: #20c997 !important;
  font-size: 95% !important;
}
