// .btn {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0 15px;
//   font-size: 12px;
//   text-transform: uppercase;
//   font-weight: 600;
//   border: 1px solid #cdcdcd;
//   color: $green;

//   &:hover {
//     background-color: $ice;
//     color: $green;
//   }

//   &.btn-square {
//     border-radius: 8px;
//     padding: 8px 15px;
//   }

//   &.btn-round {
//     border-radius: 100px;
//   }

//   &.btn-green {
//     background-color: $green;
//     border-color: $green;
//     color: $white;

//     &[disabled] {
//       background-color: $pink-secondary;
//       border-color: $pink-secondary;
//     }
//   }

//   &.btn-red {
//     background-color: $reddish;
//     border-color: $reddish;
//     color: $white;

//     &[disabled] {
//       background-color: $pink-secondary;
//       border-color: $pink-secondary;
//     }
//   }

//   &.btn-small {
//     //height: 32px;
//     padding-top: 6px;
//     padding-bottom: 6px;
//   }

//   &.btn-medium {
//     //height: 40px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }

//   &.btn-big {
//     //height: 48px;
//     padding: 14px 24px;
//   }

//   &.btn-progress {
//     color: #cdcdcd;
//   }

//   &.fw-height-32 {
//     height: 32px;
//     padding-top: 0;
//     padding-bottom: 0;
//   }
// }

// .btn-conv {
//   display: inline-flex;
//   align-items: center;
//   width: 465px;
//   height: 100px;
//   justify-content: center;
//   padding: 0 15px;
//   font-size: 12px;
//   text-transform: uppercase;
//   background-color: #ffffff;
//   font-weight: 600;
//   border: 1px solid #cdcdcd;
//   color: $green;

//   &:hover {
//     background-color: $ice;
//     color: $green;
//   }

//   &.btn-square {
//     border-radius: 8px;
//     padding: 8px 15px;
//   }

//   @media screen and (max-width: 540px) {
//     width: 377px;
//     height: 100px;

//     &:hover {
//       background-color: $ice;
//       color: $green;
//     }

//     &.btn-square {
//       border-radius: 8px;
//       padding: 8px 15px;
//     }
//   }
// }
