html:not([dir=rtl]) .noUi-horizontal .noUi-origin {
  height: 100%;
  background-color: $green;
}

.noUi-base, .noUi-connects {
  //overflow: hidden;
}

.ng2-nouislider {
  overflow: hidden;
  padding: 8px 0;
  margin: 0;
}

.noUi-target {
  height: 1px;
  background: #cdcdcd;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-color: $green;
  box-shadow: none;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s ease;

  &:active, &:hover, &:focus {
    background-color: $green;
    outline: none !important;

    &:after, &:before, .noUi-touch-area {
      background-color: $white;
    }
  }

  &:after, &:before, .noUi-touch-area {
    left: 3px;
    right: auto;
    top: 50%;
    width: 1px;
    height: 50%;
    background-color: $green;
    transform: translateY(-50%);
    position: absolute;
    transition: all 0.3s ease;
  }

  &:after {
    left: auto;
    right: 3px;
  }

  .noUi-touch-area {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
