<div class="modal-header">
  <h5 class="modal-title" [translate]="'rename_company_edit_name_company'">Изменения наименование организации.</h5>
  <button type="button" class="close" data-dismiss="modal"
          [disabled]="loading" (click)="dialogRef.dismiss()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body" style="padding: 0;">
  <form name="editForm" novalidate #editForm="ngForm" >
    <div class="m-2 p-2">
      <div>
        <app-form-control valueClass="col-6">
          <form-label [translate]="'rename_company_name_company'">Наименование организации:</form-label>
          <form-value>
            <textarea
                    class="form-control" rows="2"
                    name="companyName"
                    autocomplete="off"
                    required="true" #model="ngModel"
                    [(ngModel)]="companyName"></textarea>
          </form-value>
        </app-form-control>

      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary ml-2"
          [disabled]="loading"
          (click)="dialogRef.dismiss()" [translate]="'rename_company_close'">Закрыть
  </button>
  <button type="button"
          class="btn btn-primary mr-2"
          [disabled]="loading || editForm.form.invalid"
          (click)="confirm()"> <span [translate]="'rename_company_save'">Сохранить</span> <fa-icon icon="spinner" spin="true" *ngIf="loading"></fa-icon>
  </button>
</div>
