<div class="modal-header">
  <h5 class="modal-title">Заполнение данных организаций.</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="dialogRef.dismiss()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="editForm">
    <div class="">
      <p>Вы действительно хотите отклонить этот документ?</p>
    </div>
    <div class="m-2 p-2">
      <div>

        <div class="form-group row">
          <label class="col-4 col-form-label text-right " style="padding-top: 5px; padding-bottom: 5px;">
            Причина:
          </label>
          <div class="col-7">
            <ng-select [items]="types"
                       bindLabel="description"
                       bindValue="code"
                       placeholder="Выберите..."
                       [ngModelOptions]="{standalone: true}"
                       (ngModelChange)="changeReasonType($event)"
                       [(ngModel)]="reasonType">
            </ng-select>
          </div>
        </div>
        <div class="form-group row" *ngIf="reasonType === 'OTHERS'">
          <label class="col-4 col-form-label text-right " style="padding-top: 5px; padding-bottom: 5px;">
            Описание:
          </label>
          <div class="col-7">
            <textarea
              class="form-control" rows="3"
              placeholder="Причина"
              name="reason"
              [(ngModel)]="comment"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary ml-2"
          (click)="dialogRef.dismiss()">Закрыть
  </button>
  <button type="button"
          class="btn btn-danger mr-2"
          [disabled]="loading || !reasonType || (reasonType === 'OTHERS' && !comment)"
          (click)="confirm()">Отклонить
  </button>
</div>
