$margins: (0, 8, 16, 20, 24, 32);
$paddings: (0, 12, 16, 24);
$fz: (0, 12, 16, 20, 28, 40);
$fontWeight: (300, 400, 500, 600, 700, 800, 900);
$border-radius: 16px;
$border-radius-list: (8, 16);
$width: (24, 32, 40, 336);
$maxWidth: (336, 468, 564, 760);
$grid: (4, 8, 16, 24, 32);
$opacity: (20, 75);


//screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
