<!-- <div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div> -->
<!-- Page content -->
<div class="main-image">
  <img src="../../../assets/img/login-logo.png" style="width: 170px;"/>
</div>
<div class="container mt-3 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0 main_div">
        <div class="selector-field-language1">
          <input type="radio" id='switch-one' name='toggle-switch' (click)="setLang('ru')" value='ru' [checked]="currentLang === 'ru'"/>
          <label for="switch-one">Русский</label>
          <input type="radio" id='switch-two' name='toggle-switch' (click)="setLang('kz')" value='kz' [checked]="currentLang === 'kz'" />
          <label for="switch-two">Қазақша</label>
        </div>
        <div class="card-header bg-transparent pb-3">
          <div class="text-muted text-center mt-2 mb-3"><strong [translate]="'login_panel_operator'">Панель оператора</strong></div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input (keyup)="onLogin($event)" class="form-control" [placeholder]="'login_email' | translate" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input (keyup)="onPass($event)" class="form-control" [placeholder]="'login_password' | translate" type="password" (keyup.enter)="onSubmit()">
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <!-- <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label> -->
            </div>
            <div class="text-center">
              <button type="button" (click)="onSubmit()" class="btn btn-success" [translate]="'login_sign_in'">Войти</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
