@import "../src/assets/style/new-design-styles/variables";
@import "../src/assets/style/new-design-styles/framework";
@import "../src/assets/style/new-design-styles/colors";
@import "../src/app/base/assets/scss/argon.scss"
