<div class="main_div">
  <div class="middle box">
    <div class="container content" style="margin-top: 25px;">
      <div class="middle_content">
        <div class="content_block" style="background: none; box-shadow: none;">
          <div class="row content_block_row justify-content-center">
            <div class="col-12 col-sm-11 col-md-9 col-lg-7 pl-lg-0 pr-lg-4 pt-lg-4" style="padding-bottom: 10px;">
              <div class="card" style="padding: 10px; box-shadow: 0px -2px 24px white;">
                <div class="top_logo" style="margin-top: 20px; text-align: center;">
                  <a class="ml-3" href="https://law.kaztoll.kz">
                    <img class="logo" src="../../assets/img/login-logo.png"/>
                  </a>
                  <a class="ml-3" rel="nofollow" target="_blank">
                    <img class="logo" style="width: 85px;" src="../../assets/img/qaj_logo.png"/>
                  </a>
                </div>
                <div style="text-align: center; margin-top: 10px;">
                  <span class="font-weight-bold title">QR-ВЕРИФИКАЦИЯ ДОКУМЕНТА.</span>
                </div>
                <hr style="margin-top: 1rem;margin-bottom: 1rem;">
                <div data-v-08a509ac="" class="aic_card-item margin-b-4" *ngIf="signatures && signatures.length > 1; else notFullSignature">
                  <div class="aic_card-icon text-center">
                    <img src="/assets/img/document.svg">
                    <div class="text height-24 font-weight-bold color-00" style="display: inline-block">Публичный договор № {{contractNumber}}</div>
                  </div>
                  <div class="aic_card-info">
                    <div style="margin-bottom: 15px">
                      <b>Подписанты:</b>
                    </div>
                    <table class="table">
                      <thead>
                        <tr class="table-dark">
                          <td>ЭЦП</td>
                          <td>ФИО</td>
                          <td>Пользователь</td>
                          <td>Дата подписи</td>
                          <td>XML</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let signature of signatures">
                          <td><img src="assets/img/verified.png" placement="top" ngbTooltip="Подписан"/></td>
                          <td>{{signature.fio}}</td>
                          <td>
                            <span class="badge badge-dark badge-90" style="border-radius: 16px !important;" *ngIf="signature.name === 'operatorSignature'">Оператор</span>
                            <span class="badge badge-90" style="color: #ffffff; background-color: rgb(129 183 71);" *ngIf="signature.name === 'clientSignature'">Клиент</span>
                          </td>
                          <td>{{signature.created_at | date: 'dd.MM.yyyy'}}</td>
                          <td class="text-right">
                              <span class="cursorPointer mr-1 text-warning" style="font-size: 24px" (click)="downloadXML(signature.body)"
                                    placement="top" ngbTooltip="Скачать XML"><fa-icon [icon]="'file-code'"></fa-icon></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <ng-template #notFullSignature>
                  <span class="text-warning warnSignature" *ngIf="!loadingSignatures">
                    Документ не подписан с обоих сторон
                  </span>
                </ng-template>
                <div *ngIf="notFoundDocument && !loadingSignatures" class="warnSignature">
                  <span class="text-danger">
                    Документ не найден
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
