<div class="col-12 mt-2" style="padding-left: 0;">
  <div class="card shadow">
    <div class="card-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.3);">
      <div class="row align-items-center">
        <div class="col">
          <div class="row align-items-end">
            <div class="col-5">
              <h3 class="mb-0" [translate]="'dashboard_list_companies'">Список компаний</h3>
            </div>
            <div class="col ml-auto text-right">
              <div class="d-flex justify-content-end align-items-end">
                <div class="mr-2 text-left">
                  <small [translate]="'dashboard_status'">Статус:</small>
                  <select class="form-control form-control-sm" [(ngModel)]="currentStatus">
                    <option value="" [translate]="'dashboard_all'">Все</option>
                    <option value="CHECKING" [translate]="'dashboard_need_check_operator'">Требует проверки оператора</option>
                    <option value="PASSED" [translate]="'dashboard_need_sign_operator'">Требует подписи оператора</option>
                    <option value="APPROVED" [translate]="'dashboard_need_sign_client'">Требует подписи клиента</option>
                    <option value="PENDING" [translate]="'dashboard_need_full_data'">Требует заполнения данных</option>
                    <option value="SIGNED" [translate]="'dashboard_signed'">Подписан</option>
                    <option value="DECLINE" [translate]="'dashboard_canceled'">Отменен</option>
                  </select>
                </div>
                <div class="mr-2 text-left">
                  <small [translate]="'dashboard_name'">Наименование:</small>
                  <input class="form-control form-control-sm" [(ngModel)]="companyName" name="ownerXinQuery"
                         autocomplete="off" (keyup.enter)="loadDocuments(true)">
                </div>
                <div class="mr-2 text-left">
                  <small [translate]="'dashboard_bin'">БИН:</small>
                  <input class="form-control form-control-sm" [(ngModel)]="bin" name="ownerXinQuery"
                         autocomplete="off" (keyup.enter)="loadDocuments(true)">
                </div>
                <div class="ml-1">
                  <button class="btn btn-sm btn-primary" type="button" (click)="loadDocuments(true)">
                    <fa-icon icon="search"></fa-icon>
                  </button>
                </div>
                <div class="ml-1">
                  <button class="btn btn-sm btn-danger" type="button" (click)="clearQueries()">
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="loadingDocuments">
        <div class="load"></div>
      </div>
      <div class="my-2 p-2" *ngIf="(!docsCompany || docsCompany.length < 1) && !loadingDocuments">
        <div [translate]="'dashboard_companies_not_found'">Компаний не найдено</div>
      </div>
      <div class="table-responsive"  *ngIf="docsCompany && docsCompany.length > 0 && !loadingDocuments">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th [translate]="'dashboard_name_company'">Наименование компании</th>
            <th [translate]="'dashboard_companies_bin'">БИН компании</th>
            <!--                <th>Документ</th>-->
            <th [translate]="'dashboard_status'">Статус</th>
            <th [translate]="'dashboard_doc_data'">Данные Договора
              <fa-icon class="filterIcon" [icon]="filterIcon" (click)="changeFilter()" [disabled]="loadingDocuments"></fa-icon>
            </th>
            <th [translate]="'dashboard_docs_and_files'">Документы и Файлы</th>
            <th class="text-right" [translate]="'dashboard_actions'">Действия</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let docComp of docsCompany; let i = index" >
            <td style="max-width: 250px; white-space: normal;">
              {{docComp.company.name}}
              <span *ngIf="docComp.company.info" class="badge badge-success badge-90">{{docComp.company.info}}</span>
            </td>
            <td>
              {{docComp.company.bin}}
            </td>
<!--                <td>-->
<!--                  <strong>{{docComp.name}}</strong>-->
<!--                </td>-->
            <td>
              <span *ngIf="docComp.status === 'PENDING'" class="text-warning" [translate]="'dashboard_need_full_data'">Требует заполнения данных</span>
              <span *ngIf="docComp.status === 'CHECKING'" class="text-warning" [translate]="'dashboard_need_check_operator'">Требует проверки оператора</span>
              <span *ngIf="docComp.status === 'PASSED'" class="text-warning" [translate]="'dashboard_need_sign_operator'">Требует подписи оператора</span>
              <span *ngIf="docComp.status === 'APPROVED'" class="text-success" [translate]="'dashboard_need_sign_client'">Требует подписи клиента</span>
              <span *ngIf="docComp.status === 'DECLINE'" class="text-danger" [translate]="'dashboard_declined'">Отклонен</span>
              <span *ngIf="docComp.status === 'SIGNED'" class="text-success" [translate]="'dashboard_signed'">Подписан</span>
            </td>
            <td>
              <strong *ngIf="docComp.dateSign">{{ 'dashboard_data' | translate }}: {{docComp.dateSign | date: 'dd.MM.yyyy HH:mm:ss'}}</strong><br>
              <strong *ngIf="docComp.contractNumber">{{ 'dashboard_number' | translate }}: {{docComp.contractNumber}}</strong>
            </td>
            <td>
              <button class="btn btn-sm btn-outline-warning" type="button" (click)="createDocument(docComp.company.id)">{{ 'dashboard_add_document' | translate }}</button>

              <button *ngIf="docComp.asset" class="btn btn-sm btn-info" type="button" (click)="downloadDocument(docComp.company.bin, docComp.id, docComp.company.id)">{{ 'dashboard_download_document' | translate }}</button>
              <button *ngIf="docComp.assets && docComp.assets.length > 0" class="btn btn-sm btn-dark" type="button" (click)="downloadAsset(docComp.assets[0])">{{ 'dashboard_download_archive' | translate }}</button>
            </td>
            <td class="text-right">
              <span *ngIf="docComp.status === 'DECLINE'" class="badge badge-danger"
                    style="font-size: 80%; max-width: 300px; white-space: normal;">
                <span [translate]="'dashboard_reason'">Причина</span>: {{docComp.comments}}
              </span>
              <button *ngIf="docComp.status === 'CHECKING'" type="button" class="btn btn-primary"
                      (click)="approveDocument(docComp.id)" [translate]="'dashboard_confirm'">Подтвердить</button>
              <button *ngIf="docComp.status === 'PASSED'" type="button" class="btn btn-success"
                      [disabled]="docComp.loading" (click)="startProcessSign('PKSC12', docComp.body, docComp.company.id, docComp)" [translate]="'dashboard_sign'">
                Подписать <fa-icon icon="spinner" spin="true" *ngIf="docComp.loading"></fa-icon>
              </button>
              <button *ngIf="docComp.status === 'CHECKING' || docComp.status === 'PASSED'"
                      type="button" class="btn btn-danger" [disabled]="docComp.loading"
                      (click)="declineDocument(docComp.id, docComp.company.id, docComp.status)" [translate]="'dashboard_reject'">Отклонить</button>
              <button *ngIf="docComp.status === 'APPROVED'"
                      type="button" class="btn btn-warning btn-sm" style="border-radius: 5px;" [disabled]="docComp.loading"
                      (click)="declineDocument(docComp.id,docComp.company.id, 'APPROVED')" [translate]="'dashboard_cancel_sign'">Отменить Подпись</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="docsCompany && docsCompany.length > 0" style="padding: 0.8rem 0.5rem 0 0.5rem !important;"
             class="d-flex justify-content-between align-items-center bg-light text-gray-dark rounded my-2 p-2 text-center">
          <div> </div>
          <div>
            <ngb-pagination class="pagination-container d-block" [maxSize]="10"
                            [pageSize]="itemsPerPage" [collectionSize]="companiesTotalItems" [(page)]="companiesPage"
                            (pageChange)="companiesPageChanged($event)"></ngb-pagination>
          </div>
          <h5 class="m-0">
            <span class="badge badge-dark badge-90">{{getCountFrom()}}-{{getCountTo()}} / {{companiesTotalItems}}</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
